.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#img-qr{
    padding-top: 10px;
    width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.background{
  --background: none;
  background-image: url('../../assets/img/img2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#title{
  
  margin:auto;
  text-align: center;
  flex:1;
}
#button{  
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  
}
#card {
padding-bottom: 100px;
}