<ion-header>
  <ion-toolbar>
    <ion-title>
      Main Page
      <ion-button (click) = "logout()" > Logout</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list lines="none">
            <ion-button expand ="block"  (click) = "openScanner()"> Read QR</ion-button>
            <ion-button expand ="block" (click) = "generateQR()"  > Generate QR</ion-button>
            <ion-button expand ="block" (click) = "myProfile()" > My Profile</ion-button>
            <ion-button expand ="block"  > My QRs</ion-button>
    </ion-list>

</ion-content>
