<ion-header>
  <ion-toolbar>
    <ion-title>
      My QR's
    </ion-title>
    <ion-button (click) = "main()" color="dark" id="icon-button"><ion-icon name="apps" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <p>Generated  QR's: </p>
  <ion-list>
    <ion-item *ngFor="let data of myData, let i = index">{{data.codes}} 
      <ion-button expand ="block" id="del" (click)="deleteData(i)">Delete</ion-button>
    </ion-item>
  </ion-list>
  <p>Scanned  QR's: </p>
  <ion-list>
    <ion-item *ngFor="let code of barcodes, let i = index">{{code.code}} + {{code.description}}
      <ion-button expand ="block" id="del" (click)="deleteBarcode(i)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
