<ion-header>
  <ion-toolbar>
    <ion-title>
      My QR's
    </ion-title>
    <ion-button (click) = "main()" color="dark" id="icon-button"><ion-icon name="apps" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card color="dark">
    <ion-card-header>
      Scanned QRs
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor=" let item of scanned " (click)="showQR(item.code)"> {{item.description}}</ion-item>
      </ion-list>
    </ion-card-content>

</ion-card >
<ion-card color="dark">
  <ion-card-header>
    Generated QRs
  </ion-card-header>
  <ion-card-content>
      <ion-list>
        <ion-item *ngFor=" let item of generated " (click)="showQR(item.code)"> {{item.description}}</ion-item>
      </ion-list>
  </ion-card-content>
</ion-card >
</ion-content>
