<ion-header>
  <ion-toolbar>
    <ion-title>
      My QR's
    </ion-title>
    <ion-button (click) = "main()" color="dark" id="icon-button"><ion-icon name="apps" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="card">
    <ion-card-header color="dark">
      Scanned QRs
    </ion-card-header>
    <ion-card-content >
      <ion-list >
        <ion-item  *ngFor=" let item of scanned "> {{item.description}}
        <ion-button color ="dark" id="show" (click)="showQR(item.code)">Show</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>

</ion-card >
<ion-card id="card">
  <ion-card-header color="dark">
    Generated QRs
  </ion-card-header>
  <ion-card-content>
      <ion-list>
        <ion-item *ngFor=" let item of generated " > {{item.description}}
          <ion-button color ="dark" id="show" (click)="showQR(item.code)">Show</ion-button>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card >
</ion-content>
