#login {
padding-top: 10px;
}
#item {
  --highlight-color-focused: #3880ff;
}

#user{
  padding-top: 10px;
  
}
#title{
    margin:auto;
    text-align: center;
    flex:1;


}
#img-profile{
    padding-top: 20px;
    width:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.login{
    --background: none;
    background-image: url('../../assets/img/img2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     
}