<ion-header>
  <ion-toolbar>
    <ion-title id="title">
      Profile
      <ion-icon name="people" size="large"></ion-icon>
    </ion-title>
    <ion-button (click) = "main()" color="dark" id="icon-button"><ion-icon name="apps" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div id="card">
  <ion-card color="dark">
      <ion-card-header>
        Name: 
          <ion-card-title>{{(currentUser)?currentUser.name:''}}</ion-card-title>
        </ion-card-header>

</ion-card >
<ion-card color="dark">
    <ion-card-header>
      Last Name: 
        <ion-card-title>{{(currentUser)?currentUser.lastname:''}}</ion-card-title>
      </ion-card-header>

</ion-card>
<ion-card color="dark">
    <ion-card-header>
      Username: 
        <ion-card-title>{{(currentUser)?currentUser.username:''}}</ion-card-title>
      </ion-card-header>

</ion-card>
<ion-card color="dark">
    <ion-card-header>
      Password: 
        <ion-card-title>{{(currentUser)?currentUser.password:''}}</ion-card-title>
      </ion-card-header>

</ion-card>
</div>

</ion-content>
