<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
          <ion-card-subtitle>{{(currentUser)?currentUser.name+' '+currentUser.lastname:''}}</ion-card-subtitle>
          <ion-card-title>{{(currentUser)?currentUser.username:''}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

</ion-card>


</ion-content>
